:root {
    --primary-color: #2A2438;
    --secondary-color: #352F44;
    --input-color: #5C5470;
    --text-color: #DBD8E3;
    --hover-color: #1F1A2D;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--hover-color);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: sans-serif;
    font-weight: lighter;
    color: var(--text-color);
}