
.tasksContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 97%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;
    transition: 0.25s all linear;
}

.tasksContainer:hover {
    background-color: var(--input-color);
}

.tasksContainer:hover h1,
.tasksContainer:hover h4,
.tasksContainer:hover h5,
.tasksContainer:hover button {
    color: var(--primary-color);
}

.textContainer h1,
.textContainer h4,
.textContainer h5 {
    width: 50rem;
    margin: 0.5rem 0;
    transition: 0.25s all linear;
}

.buttonContainer {
    display: flex;
}

.buttonContainer button {
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 0 1rem;
}

.buttonContainer button > svg {
    font-size: 2rem;
    transition: 0.25s all linear;
    color: var(--text-color);
}

.buttonContainer button:hover > svg {
    cursor: pointer;
    color: var(--primary-color);
}

.active {
    background-color: white;
}

.archived {
    background-color: orange;
}

.completed {
    background-color: lime;
}

.deleted {
    background-color: crimson;
}

.infoContainer {
    margin: 1rem 0;
    display: flex;
}

.info {
    margin: 0.5rem;
    display: flex;
}

.info div {
    display: flex;
}

.info p {
    margin-left: 1rem;
    color: var(--text-color);
}
